* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
}

td,
th {
    border: solid 1px black;
    padding: 5px;
}

thead {
    background-color: #cbc8c8;
}

.book-actions {
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.read {
    background-color: #33aaff;
}

.update {
    background-color: #ffcc33;
    color: black;
}

.delete {
    background-color: #dd6600;
}

.book-add-btn {
    background-color: #cbc8c8;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
}

.book-modal {
    background-color: #cbc8c8;
    border-radius: 20px;
    border: none;
    text-align: start;
}

.close-btn {
    border: 2px solid lightgrey;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.book-filter {
    margin-block: 20px;
    padding: 5px 10px;
}

.book-filter-btn {
    background-color: #cbc8c8;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}