* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(223, 233, 235);
    padding-block-start: 20px;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 80px;
    color: #3b83b3;
    padding-block-end: 30px;
}

.main-container {
    display: flex;
    gap: 20px;
    flex-direction: column;

    width: 90%;
    margin: auto;
    padding-bottom: 60px;
}

.book-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid black;
    width: 160px;
}

input:focus {
    outline: none;
    text-align: center;
}

input::placeholder {
    text-align: center;
    font-weight: 600;
}

table {
    background-color: rgb(240, 240, 240);
    border-collapse: collapse;
}

thead {
    background: rgb(158, 208, 255);
}

td {
    border: 1px solid rgb(184, 184, 184);
    padding: 10px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;

    background-color: #fff;
    border-radius: 10px;
    padding: 10px;

    width: 210px;
    flex-grow: 1;
}

.book-card img {
    width: 60%;
    border-radius: 10px;
}

button {
    border: 1px solid whitesmoke;
    background: #65a9d7;
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background: #28597a;
    color: #ccc;
}

button:active {
    background: #1b435e;
}

.book-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    background-color: #94bfe2;
    width: 500px;
    border-radius: 15px;
    border: 1px solid #00000030;
    color: whitesmoke;
    padding: 10px;

    position: absolute;
    top: 70px;
    right: calc(50vw - 250px);
}

.modal-contant {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: start;
}

.book-details .close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.book-details img {
    height: 200px;
    border-radius: 10px;
}

/* .book-details .title {
    font-size: 25px;
    font-weight: 500;
} */

.user-msg {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #94bfe2;
    padding: 10px;
    border-radius: 4px;
}

.hide {
    display: none;
}

footer {
    display: flex;
    place-items: center;
    justify-content: center;
    gap: 5px;
    padding: 20px;

    background-color: #61a7e1;
    color: white;
    width: 100%;
    padding: 10px;

    position: fixed;
    bottom: 0;

}

footer span {
    margin-inline-start: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.desc {
    text-align: start;
}